.bgr-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 100vh;
  object-fit: cover;
}
.log-in-b,
.rectangle-button {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.log-in-b {
  width: 88.89%;
  right: 5.56%;
  left: 5.56%;
  font-size: var(--font-size-4xl);
  line-height: 150%;
  display: flex;
  font-family: var(--font-poppins);
  color: var(--text-white-ffffff);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btnlogin-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 621px;
  left: 253px;
  width: 450px;
  height: 80px;
}
.welcome-to-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.bedating-p {
  margin: 0;
  font-size: 50px;
}
.welcome-to-bedating-container {
  line-break: anywhere;
  width: 100%;
}
.welcome-to-bedating {
  position: absolute;
  top: 342px;
  left: 191px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 573px;
  height: 250px;
}
.logo-icon {
  position: absolute;
  top: 136px;
  left: 338px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.login-div {
  position: relative;
  background-color: var(--white-ffffff);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 70px;
  color: var(--text-white-ffffff);
  font-family: var(--font-poppins);
}
