@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 12px;
  --font-size-base: 15px;
  --font-size-lg: 20px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fefefe;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #c4c4c4;
  --color-gray-400: rgba(196, 196, 196, 0.8);
  --color-gray-500: rgba(181, 181, 181, 0.8);
  --text-primary-40-000000: rgba(0, 0, 0, 0.4);
  --color-brown-100: #e94057;
  --color-brown-200: rgba(233, 64, 87, 0.4);

  /* border radiuses */
  --br-sm: 15px;
  --br-md: 20px;
}
